h4 Time: !{data.temperature_update.time_stamp_formatted} || Temperature:  !{data.temperature_update.sensor_reading} *C || Humidity: !{data.humidity_update.sensor_reading} % || Altitude: !{data.light_update.sensor_reading} m || Pressure: !{data.pressure_update.sensor_reading} hPa
img(alt='cloud cover', src='data:img/png;base64,' + data.image_update.sensor_reading, width ='25%', height='25%')
p #{new Date()}
